{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "strict": [2, "never"],
    "indent": [2, 4],
    "quotes": [2, "single"],
    "no-trailing-spaces": [
      2, {
        "skipBlankLines": true
      }
    ],
    "no-shadow": false,
    "no-empty": false,
    "no-underscore-dangle": false,
    "react/jsx-uses-react": 1
  }
}
