<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div id="container"><%= body %></div>
<script src="/js/jquery<%= ugly %>"></script>
<script src="/js/bootstrap<%= ugly %>"></script>
<script src="/js/react<%= ugly %>"></script>
<script src="/component.bundle.js"></script>
</body>
</html>