@import '../../styles/variables';

nav.Navbar {

  h2 {
    display: inline-block;
    margin: 0 110px 0 0;
  }

  span.subtext {
    display: block;
    font-size: 0.58em;
    font-style: italic;
  }

  .navbar-brand {
    height: auto;
    white-space: nowrap;
    h2 {
      white-space: normal;
    }
  }

  .navbar-logo {
    display: inline-block;
    margin-right: 15px;
    position: relative;
    vertical-align: top;
    top: 4px;
  }

  .navbar-toggle {
    position: absolute;
    right: 0;
    margin-top: 15px;
  }

  .inverse-inactive path {
    fill: $navbar-inverse-link-color;
  }

  .inverse-active path {
    fill: $navbar-inverse-link-hover-color;
  }

  .navbar {
    transition: opacity 500ms, top 500ms;
  }

  .hidden {
    opacity: 0;
    top: -$navbar-height;
  }
}