@import '../../styles/variables';

nav.Navbar {

  h2 {
    margin: auto;
    float: left;
  }

  h2 > .subtext {
    display: block;
    font-size: 0.58em;
    font-style: italic;
  }

  .navbar-brand {
    padding: 15px 15px;
  }

  .navbar-logo {
    float: left;
    margin-right: 15px;
    margin-top: 4px;
  }

  .inverse-inactive path {
    fill: $navbar-inverse-link-color;
  }

  .inverse-active path {
    fill: $navbar-inverse-link-hover-color;
  }

  .navbar {
    transition: opacity 500ms, top 500ms;
  }

  .hidden {
    opacity: 0;
    top: -$navbar-height;
  }
}